name: Build server for release
on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write

jobs:
  release-server:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - name: Checkout
        uses: actions/checkout@v5
      - name: Setup buf
        uses: bufbuild/buf-setup-action@v1
        with:
          version: latest
      - name: setup node
        uses: actions/setup-node@v5
        with:
          node-version: '24.x'
          registry-url: 'https://registry.npmjs.org/'
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: latest
      - name: Build and publish
        run: |
          bash generate.sh
          cd js
          
          PUBLISH_TAG="latest" # Default tag for full releases

          if [ ! ${{ steps.release.outputs.release_created }} ]; then
            pnpm version prerelease --no-commit-hooks --no-git-tag-version
            # push changes
            git config user.name github-actions
            git config user.email github-actions@github.com
            git add .
            git commit -m "bump beta version"
            git push
          
            PUBLISH_TAG="beta" # Override tag for prereleases
          fi
          
          bash generate.sh
          npm install -g npm@latest
          # Use the dynamic tag for publishing
          npm publish --tag $PUBLISH_TAG --provenance
