name: Build server for release
on:
  push:
    branches:
      - main

permissions:
  contents: write
  pull-requests: write

jobs:
  release-server:
    runs-on: ubuntu-latest
    steps:
      - uses: googleapis/release-please-action@v4
        id: release
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          config-file: release-please-config.json
          manifest-file: .release-please-manifest.json
      - name: Checkout
        uses: actions/checkout@v4
      - name:
        uses: bufbuild/buf-setup-action@v1
        with:
          version: latest
      - name: setup node
        uses: actions/setup-node@v4
        with:
          node-version: '20.x'
      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          version: "9"
      - name: Build and publish
        run: |
          bash generate.sh
          cd js
          
          if [ ! ${{ steps.release.outputs.release_created }} ]; then
            # we'll update version for beta release
            git_hash=$(git rev-parse --short "$GITHUB_SHA")
            NEXT_VERSION=$(echo $(node -p "require('./package.json').version") | awk -F. -v OFS=. '{$NF += 1 ; print}')
            BETA_VERSION="${NEXT_VERSION}-${git_hash}"
            echo "New beta version for NPM: ${BETA_VERSION}"
            npm version ${BETA_VERSION}
          fi
          
          bash generate.sh
          npm config set '//registry.npmjs.org/:_authToken' $NPM_TOKEN
          npm publish
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
